
@{
    ViewData["Title"] = "Payments";
}

<h1>Payments</h1>

<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PaymentPosts" asp-action="Index">Kvitton</a>
    </li>
    

</ul>