
@{
    ViewData["Title"] = "Referee";
}

<h1>Referee</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeCategories" asp-action="Index">Domarkategorier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeCategoryTypes" asp-action="Index">DomarKategoriTyper</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeDistricts" asp-action="Index">DomarDistrikt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Referees" asp-action="Index">Domarstatus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeTypes" asp-action="Index">DomarTyper</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeFees" asp-action="Index">Domararvoden</a>
    </li>

</ul>
