
@{
    ViewData["Title"] = "Sports";
}

<h1>Sports</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sports" asp-action="Index">Sporter</a>
    </li>


</ul>
