
@{
    ViewData["Title"] = "Tournaments";
}

<h1>Tournaments</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tournaments" asp-action="Index">Turneringar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MatchLengths" asp-action="Index">Matchlängder</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MatchReportings" asp-action="Index">Matchrapportering</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="MatchTimes" asp-action="Index">Matchertider</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="RefereeLevels" asp-action="Index">Domarnivåer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TableSystems" asp-action="Index">Tabellsystem</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TeamNotifications" asp-action="Index">Laganmälan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TeamOfficials" asp-action="Index">Lagfuntionärer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TeamRegisters" asp-action="Index">Lagregistreringar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TournamentPhases" asp-action="Index">Turneringsfaser</a>
    </li>   
</ul>

